# Ignore all .dll files
 .dll

# Ignore folder .vs and biit nary folders
.vs
TemplateApplication.APIbin
TemplateApplication.APIobj
TemplateApplication.Databin
TemplateApplication.Dataobj
TemplateApplication.Domainbin
TemplateApplication.Domainobj