# Ignore all .dll files
 *.dll

# Ignore folder .vs and biit nary folders
vs/
TemplateApplication.API/bin/
TemplateApplication.API/obj/
TemplateApplication.Data/bin/
TemplateApplication.Data/obj/
TemplateApplication.Domain/bin/
TemplateApplication.Domain/onj/